/*comentarios*/

body{
    background-color:white;
}
h1.tituloRojo{
    color: brown;
}

/*Ejercicio 3 */
.fnt-red{
    color:red;
}
.fnt-blue{
    color: blue;
}
.titulo{
    color: aquamarine;
    font-size: 30px;
    font-style: italic;
}
.texto{
    color: rgb(2, 2, 59);
    font-size: 15px;
}
.destacado{
    font-style: italic; 
    font-weight: bold;
}
#nombre_alumno{
    border: 4px solid brown;
    background-color: blueviolet
}
/*Ej 4*------------------------------------------------------------------------------------------------------------/
*/
div.cuerpo{
    background-color: beige;
}
div.cuerpo div.border-card{
    display: inline-block;
    width: 25%;
    box-shadow: 10px 10px 5px 0px gray;    
}
div.border-card{
    width: 20%;
    border: 2px solid black;
    border-radius: 20px;
    margin: 2.5%;  
    position: relative;  

}
.border-foto{
    width: 90%;
    border-radius: 10px;
    margin: 5%;
}
div.border-card i.imagen-encima{
    position:absolute;
    z-index: 2;
    top: 5%;
    left: 85%;
    background-color: rgb(43, 107, 226);
    border-radius: 50%;
    width: 1.2;
    font-size: 120%;
}

div.padding-texto{
    padding-left: 30px;
}
div.padding-texto h4.margen-titulo{
    padding: 5px;
    margin: 0px;
    font-weight: 800;
}
div.padding-texto p.texto-titulo{
    margin: 5px 0px 2px 0px;
    padding: 0px;
}
div.padding-texto p.texto-principal{
    color: burlywood;
    margin: 2px 0px 5px 0px;
    padding: 0px;
}
div i.icon{
    display: inline-block;
    width: 49%;
    margin: auto;
    text-align: center;
    border: none;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 150.5%;
}
div i.icon.rojo{
    color: brown
}
div i.icon.verde{
    color: green;
}

/*ejercicio5*/
main.principal{
    width: 100%;
    text-align: center; 
    border: 2px solid black;
}
main.principal div.fsuperior{
    background-color: blue;
    width: 100%;
    color: aliceblue;
    height: 40px;
    line-height: 40px;
    position: fixed;
    z-index: 10;
}

main.principal div.finferior{
    background-color: brown;
    color: aliceblue;
    height: 40px;
    line-height: 40px;
}
div.volver{
    border: 2px solid black;
    height: 100px;
    line-height: 100px;
}
/*-----------------------------------------*/

main.principal div.forever{
    background-color: brown;
    color: blanchedalmond;
    width: 50%;
    margin: 50px auto 100px auto;
    height: 200px;
    font-size: 520%;
    position: relative;
}
main.principal div.forever div.redonda{
    background-color: beige;
    border: 7.5px solid brown;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
main.principal div.forever div.redonda.a-d{
    top:-25px;
    right: -25px;
    position: absolute;
}
main.principal div.forever div.redonda.a-i{
    top:-25px;
    left: -25px;
    position: absolute;
}
main.principal div.forever div.redonda.ab-d{
    bottom:-25px;
    right: -25px;
    position: absolute;
}
main.principal div.forever div.redonda.ab-i{
    bottom:-25px;
    left: -25px;
    position: absolute;
}
/* comentario------------------------------------------------------- */
main.principal div.lorem{
    width: 50%;
    height: 200px;
    margin: 50px auto 100px auto;
    position: relative;
    border-radius: 10px;
    font-size: 1.75rem;
    background-color: aqua;
    z-index: 2;
}
main.principal div.blanco{
    width: 50%;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(128, 125, 125);
    z-index: -1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
/* comentario-------------------------------- */
main.principal div.biblio div.cuadrado{
    margin: auto;
    position: relative;
    
    width: 300px;
    height: 300px;
}
main.principal div.biblio div.cuadrado i.naranja{
    background-color: orangered;
    color: whitesmoke;
    
    position: absolute;
    top: 0px;
    left: 0px;
    width: 140px;
    height: 140px;

}
main.principal div.biblio div.cuadrado i.verde{
    background-color: green;
    color: whitesmoke;
    
    position: absolute;
    top: 0px;
    right: 0px;
    width: 140px;
    height: 140px;
}
main.principal div.biblio div.cuadrado i.azul{
    background-color: blue;
    color: whitesmoke;
    
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 140px;
    height: 140px;
}
main.principal div.biblio div.cuadrado i.negro{
    background-color: black; 
    color: whitesmoke;
    
    position: absolute;
    width: 140px;
    height: 140px;
    bottom: 0px;
    right: 0px;
}
/* ejercicio 6 ---------------------------------------*/
