form.form2{
    border: 2px solid black;
}
form.form2 label{
    color: blue;
    font-weight: 800;
    padding: 70px;
}
form.form2 div.grupo{
    padding: 10px;
}
form.form2 div.grupo label.medida{
    display: inline-block;
    width: 7.5%;
    margin-top: 5px;
    
}
form.form2 div.grupo input.linea{
    width: 80%;
}

form.form2 div.grupo input.media{
    width: 40.8%;
}
form.form2 div.grupo div.subgrupo{
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
form.form2 div.grupo div.subgrupo div.beerre label,form.form2 div.grupo div.subgrupo div.beerre label{
    display: block;
}
form.form2 button{
    margin: 15px;
    padding: 10px;
    font-size: 1.4rem
}

