<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React</title>
    <script src="https://unpkg.com/react@15/dist/react.min.js"> </script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div id="root"></div>
    <script src="../javascriptAvanzado/motos.js"></script>
    <script type="text/babel">

    

        class Main extends React.Component {
                render() {
                    return (
                        <div>
                            <HolaMundo texto='Hola React!'/>
                            <div>
                                <Bola/>
                                <Cuadrado/>
                                <Separador/>
                            </div>
                            <div>
                                <HolaMundo texto='Ejercicios con Props'/>
                                <BolaX talla="80" margen="10" fondo="#ff0000" radio="50"/>
                                <BolaX talla="70" margen="8" grosor="5" color="red" tipo="solid"/>
                                <Mosca/>
                                <Capital nombre ="baRceLona"/>
                                <Gato nombre="Garfield"/>
<<<<<<< HEAD
                                
=======
                                <BolaBingo num="22"/>
>>>>>>> 29c959c1bc2d49bfbcf0e59a712e87c1df546bea
                                <Separador/>
                            </div>
                            <div>
                                <Lista datos= "Barcelona, Tarragona, Girona"/>
                                <TablaMotos/>
                            </div>
                      </div>
                    );
                }
            }

        const TablaMotos =() => {
            let filas = MOTOS
            .filter(moto => moto.kilometres>100000)
            .map(moto=>
            <tr><td>{moto.model}</td><td>{moto.preu}</td></tr>)
            return (
                <table>
                    <thead>
                        <tr><th>Modelo</th><th>Kms</th></tr>
                    </thead>
                    <tbody>
                        {filas}
                    </tbody>
                    </table>
            )
        }
        const HolaMundo= (props) => <h1>{props.texto}</h1>;

        function Semaforo(){
            return(
                <div>

                </div>
            );
        }

        function Bola(){
            return <div className=' cuadrado bola'/>
        }

        
        function Cuadrado(){
            return <div className='cuadrado'/>
        }
        function Separador(){
            return <div className='separador'/>
        }
        function BolaX(props){
            return <div style={{
                width: props.talla,
                height: props.talla,
                backgroundColor: props.fondo,
                margin: props.margen,
                borderStyle: props.tipo,
                borderWidth: props.grosor,
                borderColor: props.color,
                borderRadius: props.radio

            }}/>
        }
        function Mosca(props){
            return (
                <i style={{
                    position: "absolute",
                    top:10,
                    right:10
                }} className="fas fa-spider 7x"></i>);
        }

        function Capital(props){
            let inicial = props.nombre[0].toUpperCase();
            let ciudad = inicial + props.nombre.substring(1).toLowerCase();
            return(
                <div>
<<<<<<< HEAD
                    <div style={{fontSize:200}}>{inicial}</div>
                    <div style={{fontSize:35}}>{ciudad}</div>
=======
                    <div style={{fontSize: 200}}>{props.texto[0]}</div>
                    <div style={{fontSize:35}}>{props.texto}</div>
>>>>>>> 29c959c1bc2d49bfbcf0e59a712e87c1df546bea
                </div>
            );
        }

        

        function Gato(props){
            return(
                <div style={{
                    borderColor: "Blue", 
                    borderWidth: 3,
                    borderStyle: "solid", 
<<<<<<< HEAD
                    display: "inline-block"
=======
                    width: 201
>>>>>>> 29c959c1bc2d49bfbcf0e59a712e87c1df546bea
                }}>
                    <img src="http://lorempixel.com/200/200/cats/" style={{
                        width:200,
                        height:200
                    }}/>
                    <p>{props.nombre}</p>
                </div>
            )
        }
        function BolaBingo(props){
            return (
                <div className=' cuadrado bola' style={{
                    display: "flex",
                    justifyContent:"center",
                    alignItems:"center"
                }}>
                    <h1>{props.num}</h1>
                </div>
                
                )

        }

        const Lista = (props)=>{
            let listaCiudades = props.datos.split(",")
            let lis = listaCiudades.map(el=><li>{el}</li>);
            return <ul>{lis}</ul>

        }


            
        ReactDOM.render( <Main  />, document.getElementById("root") );
        
    </script>

</body>

</html>