div.cuadrado{
    background-color: brown;
    width: 50px;
    height: 50px;
    
}

div.cuadrado.bola{
    border-radius: 50px;
}
div.separador{
    border-bottom: 3px solid black;
    height: 4px;
    border-top: 1px solid black;
    margin-top: 10px;
    
}

div.semaforo{
    width: 50px;
    height: 50px;
}
div.semaforo.rojo{
    background-color: red;
}
div.semaforo.verde{
    background-color: green;
}